{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input class="form-control" type="text" name="username" autofocus required id="id_username" placeholder="user name">
    </div>
    <div class="form-group">
        <label for="id_password">Password</label> 
        <input class="form-control" type="password" name="password" required id="id_password" placeholder="password">
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}
