
{% extends 'kg/navbar.html' %}

{% block navbar %}
<div class="jumbotron">
    <h1 class"display-4">Knights, Templars and Crusaders</h1>
    <p class="lead">Embark on the kg crusade. Start your journey to weightloss. </p>
    <p> Monitor your weight and start losing kilos right now. A daily measurement, taken at the exact same time, using the same scale helps monitor your progress. Right after you wake up in the morning, step on the scale. How much do you weigh now?</p>
    <form action="{% url 'kg' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control form-control-lg" type="number" id="kg" placeholder="kg" step="0.1" name="kg" min="2" max="150" autofocus>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Commit</button>
    </form>
</div>
{% endblock  %}

