{% extends 'kg/navbar.html' %}


{% block navbar %}

<h1>Statistics</h1>
<ul class="list-group">
{% for kg in kgs %}
    <li class="list-group-item">
        <div class="container">
            <div class="row ">
                <div class="col-auto lead ">
                    {{kg.kg}} kg 
                </div>
                <div class="col text-muted text-left align-self-center">
                    {{kg.date|date:"Y.M.d, g:i a"}}
                </div>
            </div>
        </div>
    </li>
{% empty %}
    <li class="list-group-item">No kgs entered so far.</li>
{% endfor %}
</ul>

{% endblock %}