{% extends 'kg/navbar.html' %}


{% block navbar %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<h1>Statistics</h1>

<script>
    window.onload = function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
        
            data: {
                datasets: [{
                    label: 'kilogram',
                    backgroundColor: '#d95700',
                    borderColor: '#dfffff',
                    data: [
                        {% for kg in kgs %}
                        { t: new Date('{{kg.date|date:"Y-m-d G:i"}}'), y: {{kg.kg}} },
                        {% endfor %}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            minUnit: 'day'
                        }
                    }]
                }
            },
        });  
    };
</script>
<canvas id="myChart"></canvas>    
<ul class="list-group">
{% for kg in kgs %}
    <li class="list-group-item">
        <div class="container">
            <div class="row ">
                <div class="col-auto lead ">
                    {{kg.kg}} kg 
                </div>
                <div class="col text-muted text-left align-self-center">
                    {{kg.date|date:"Y.M.d, g:i a"}}
                </div>
            </div>
        </div>
    </li>
{% empty %}
    <li class="list-group-item">No kgs entered so far.</li>
{% endfor %}
</ul>

{% endblock %}