{% load static %}
<!doctype html/>
<html class="no-js" lang="en">
    <head>
        <title>Kg Crusader</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    </head>

    <body>
        <script src="{% static '/js/jquery.min.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>

        <div class="container">

            {% block content %}
            {% endblock content %}

        </div>     
    </body>
</html>