{% extends 'base.html' %}


{% block content %}

<h1>You are logged out</h1>
<p>Thank you for using kg-crusader.</p>
<a class="btn btn-primary btn-large" href="{% url 'login' %}">
    Login again?
</a>

{% endblock %}